
<div class="row bottom">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-6">
      <h1>Jeff Scholen</h1>

      <h2>Atlanta</h2>
      </div>

      </div>
    <hr style="color: #ccc; height: 4px;" />
    <section class="row">
      <header class="col-md-3">
        <h3>About</h3>
      </header>
      <div class="col-md-9">
      <p>I am a recent graduate of the Iron Yard’s Rails Engineering Bootcamp. My core competencies are Ruby on Rails, Postgresql, jQuery, HTML5, CSS3 and other related technologies. I have experience with RSpec and Test Driven Development. Prior to the Iron Yard, I worked as an engineer in the manufacturing industry.</p>
      <strong>Phone:</strong> (404) 295-6995 <br />
      <strong>Email:</strong>  <a href="mailto:jmscholen@gmail.com"/>jmscholen@gmail.com</a><br
      <strong>Twitter:</strong> <a href="https://twitter.com/jmscholen">@jmscholen</a><br />
      <strong>Github:</strong> <a href="https://github.com/jmscholen">jmscholen</a><br />
      <strong>Website:</strong> <a href="http://jeffscholen.com">jeffscholen.com</a><br />
      </div>
    </section>
    <section class="row">
      <header class="col-md-3">
        <h3>Work Experience</h3>
      </header>
      <div class="col-md-9">
        <div class="skills">
          <h3>Kevy Inc</h3>
          <strong>Software Engineer</strong>
          <p>8/2014 - 10/2014</p>
          <p>Ruby on Rails developer coding user interface enhancements, building out API backend communication protocols and addressing support tickets as needed. </p>

          <h3>Vinsnap Inc.</h3>
          <strong>Software Developer- Contract</strong>
          <p>6/2014 - 8/2014</p>
          <p>Technical lead working with the founders to develop their next generation platform for providing automotive owners with realtime data analytics about their vehicles.</p>

          <hr />            <h3>Remington Medical Inc.</h3>
          <strong>Engineering Project Manager</strong>
          <p>2/2012 - 12/2013</p>
          <p>Cross-functional team leader responsible for the development of medical devices. Received FDA clearance for a class II medical device and saved the company 30% in costs for an existing product line.</p>

          <hr />            <h3>CardioMEMS Inc.</h3>
          <strong>Senior Quality Engineer</strong>
          <p>12/2007 - 1/2012</p>
          <p>Technical lead engineer responsible for compliance across all departments for meeting FDA and ISO requirements. Promoted to senior position in 2009.</p>

          <hr />            <h3>Facet Technologies Inc</h3>
          <strong>R&amp;D Project Manager</strong>
          <p>3/2004 - 6/2007</p>
          <p>Technical manager responsible for leading teams in the design and transfer of medical devices to manufacturing. Recognized for saving $100,000 in costs by sourcing machinery through ebay.com and helping the sales and marketing department win an $8 million contract. Promoted twice during my employment.</p>

        </div>
      </div>
    </section>

    <section class="row">
      <header class="col-md-3">
        <h3>Education</h3>
      </header>
      <div class="col-md-9">
        <div class="skills">
          <h3>The Iron Yard</h3>
          <h4>Rails Engineering, Ruby on Rails</h4>
          <p></p>
          <p></p>
          <ul>
          </ul>
          <hr />
          <h3>Southern Polytechnic State University</h3>
          <h4>Mechanical Engineering Technology, Bachelor of Science</h4>
          <p></p>
          <p></p>
          <ul>
          </ul>
          <hr />
        </div>
      </div>
    </section>
    <section class="row">
      <header class="col-md-3">
        <h3>Skills</h3>
      </header>
      <div class="col-md-9">
        <div class="row-fluid skills">
          <ul class="col-md-6">

            <li>
              <h4>Web Development</h4>
              <ul>
                <li>Ruby on Rails</li>
                <li>PostgreSQL</li>
                <li>MySQL</li>
                <li>API Development</li>
                <li>RSpec</li>
                <li>TDD</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </section>

  </div>
</div>
