
<div class="row bottom">
<div class="col-lg-8 col-md-8 col-sm-7 col-left">
    <section>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                
                <!--input contact-->
                <h1>Contact</h1>
                <h1 class="spacer">___</h1>
                <p>I'm available for hire or freelance. I would love to talk about any opportunities you may have.</p>
                <hr>
          <!--      <div class="panel panel-default contact btn-footer">
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="contactEmail">Email address</label>
                                <input type="email" class="form-control" id="contactEmail">
                            </div>
                            <div class="form-group">
                                <label for="contactMessage">Message</label>
                                <textarea class="form-control" rows="10" id="contactMessage"></textarea>
                            </div>
                        </form>
                    </div> -->
                    <div class="panel-footer">
                        <a href="mailto:jmscholen@gmail.com?subject=Found Your Portfolio&body=Hey Jeff, I'd like to speak with you about an upcoming opportunity!" class="btn btn-grey btn-lg btn-block">Interested in working with me?</a>
                    </div>
           <!--     </div> -->
            </div>
        </div>    
    </section>
</div>
<div class="col-lg-4 col-md-4 col-sm-5 col-right">
<div id="scroll-shadow"></div>
    <section>
        <div class="row">
            <div class="col-lg-12">
            
                <!--panel contact-->
                <div class="panel panel-default item">
                    <div class="panel-heading">
                        <a href="#">
                            
                            <!--your image-->    
                            <img class="img-responsive item-img" <%=image_tag("135.JPG", :alt => "Avatar")%>
                            
                        </a>
                    </div>
                    <div class="panel-body">
                    
                        <!--your name-->
                        <a href="#"><h4 class="item-title">Jeff Scholen</h4></a>
                        
                        <!--your profession / where you live-->
                        <p class="item-category">Freelance web application developer, in Atlanta</p>
                        
                        <!--your descritpion / why should we contact you-->
                        <p class="item-description">I love developing web applications using Ruby on Rails. Contact me about your next project.</p>
                        <hr>
                        
                        <!--social networks-->
                <!--        <div class="item-social text-center">
                            <a href="#"><img class="social" src="img/icon/icon-facebook.png" alt="Facebook"></a>
                            <a href="#"><img class="social bis" src="img/icon/icon-twitter.png" alt="Twitter"></a>
                            <a href="#"><img class="social" src="img/icon/icon-google.png" alt="Google plus"></a>
                            <a href="#"><img class="social bis" src="img/icon/icon-linkedin.png" alt="Linkedin"></a>
                        </div> -->
                        
                    </div>
                </div>
            </div>
        </div>    
    </section>
</div>

